<div class="complaints">



    <div class="container">
        <!-- <h1 class="title-page">
            {{'nav_list.about_us' | translate}}
        </h1> -->

        <div class="content" [innerHtml]="text">

        </div>
        <a target="_blank" href="http://207.154.195.214/دليل حماية المتعاملين في التأمين.pdf" style="text-decoration: underline; cursor: pointer; margin-bottom: 60px;">دليل حماية المتعاملين فى التأمين</a>

    </div>
</div>
<app-contactus id="section1"></app-contactus>
<app-footer></app-footer>