<div class="services">
    <h2>{{ 'type.title' | translate }}</h2>



    <div class="type-insurance">

        <div class=" type" (click)="onNavigate('individual')">

            <!-- <img src="assets/images/services/healthy.png" alt="healthy image" width="100" height="100"> -->
            <div class="serv">
                <div class="overlay">
                    <i class="far fa-comment-dots"></i>
                </div>
                <i class="fas fa-user"></i>
            </div>

            <span style="margin-top:30px">افراد</span>
            
        </div>

        <div class=" type" (click)="onNavigate('group')">
            <div class="serv">
                <div class="overlay">
                    <i class="far fa-comment-dots"></i>
                </div>
                <i class="fas fa-users"></i>
            </div>

            <span>شركات</span>
        </div>

    </div>
</div>