.form-control:last-child {
    margin-top: 45px;
    margin-bottom: -31px!important;
    font-size: 16px;
    margin-left: 30px;
}

.radio-suffer label {
    margin-right: 44px;
    font-size: 16px;
    font-weight: 100;
}

p-radiobutton {
    margin-right: 7px;
}

radio-suffer p-grid {   
    margin-right: 7px;
}
.btn {
    margin-top: 5px;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 17px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    background: var(--gradiant-one) !important;
    width: 50% !important;
    margin-bottom: 2px;
    font-family: Circle-Light;
    transition: .5s;
    line-height: 27px !important;
}